body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: rgb(0,1,52);
  background: linear-gradient(145deg, rgba(0,1,52,1) 0%, rgba(153,153,153,1) 30%);
  background-repeat: no-repeat;

}

header {
  padding: 15px;
}


#stars-img {
  position: absolute;
  height: 14vh;
}

.flag-lines-container {
  width: 100%;
  height: 26vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.flag-line {
  background: rgb(255,0,0);
  background: linear-gradient(121deg, rgba(255,0,0,1) 0%, rgba(153,153,153,0) 70%);
  width: 100%;
  height: 2vh;
}

#Ronald-Reagan-img {
  position: absolute;
  top: 0;
  right: 0;

}

main {
  margin: 50px;
  width: 80%;
  background: white;
  border: 3px solid #8F9BEE;
  border-radius: 20px;
}

h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
}

h2{
  font-family: 'Lobster', cursive;
  padding: 0 200px 0 200px;
}

.text {
  display: flex;
  flex-direction: column;
}

p {
  font-family: 'Pacifico', cursive;
  padding: 0 100px 0 100px;
}

footer {
  height: 100px;
  width: 100%;
}

span{
  padding-left: 200px;
}
